@use "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: config.$primary-color;
  font-family: "B612", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

// header

.header {
  background-color: config.$primary-color;

  // font-size: 1.125rem;
  font-size: 10px;

  .header-content {
    height: 60px;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 30px;
  }
  ul {
    display: inline-block;
    li {
      display: inline-block;
      padding-left: 1.5rem;
    }
  }
}

@media (min-width: 600px) {
  .header {
    font-size: 1rem;

    .header-content {
      align-items: flex-end;
      padding-bottom: 5px;
    }
  }
}

// main banner lower

.banner {
  height: 67vw;
  max-height: 616px;
  background-color: config.$primary-color;

  .banner-lower {
    height: 67vw;
    max-height: 616px;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;

    img {
      max-width: 920px;
      width: 99vw;

      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  }

  .ball-1 {
    display: block;
    width: 5vw;
    height: 5vw;
    max-width: 47px;
    max-height: 47px;
    border-radius: 50%;
    position: relative;
    left: 5vw;
    bottom: 45vw;
    background-color: config.$secondary-color;
    background-image: linear-gradient(
      -135deg,
      config.$primary-color 0%,
      transparent 100%
    );
  }

  .ball-2 {
    display: block;
    position: relative;
    bottom: 3.5vw;
    width: 53vw;
    max-width: 495px;
    height: 53vw;
    max-height: 495px;
    border-radius: 50%;
    margin-right: 2vw;

    background-color: config.$secondary-color;
    background-image: linear-gradient(
      -135deg,
      config.$primary-color 0%,
      transparent 100%
    );
  }

  .ball-3 {
    display: block;
    width: 3vw;
    height: 3vw;
    max-width: 27px;
    max-height: 27px;
    border-radius: 50%;
    position: relative;
    right: 8vw;
    bottom: 14vw;
    background-color: config.$secondary-color;
    background-image: linear-gradient(
      -135deg,
      config.$primary-color 0%,
      transparent 100%
    );
  }
}

@media (min-width: 933px) {
  .banner {
    .ball-1 {
      bottom: 420px;
    }
    .ball-2 {
      bottom: 31px;
    }

    .ball-3 {
      bottom: 130px;
    }
  }
}

// Main banner upper

.banner-upper {
  height: 67vw;
  max-height: 616px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 67vw;

  .banner-upper-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin-left: 10px;
    margin-right: 3vw;
    width: 33vw;
  }

  .banner-upper-left-middle {
    height: 24vw;
  }

  .banner-upper-left-top {
    width: calc(54px + 15vw);
    height: calc(33px + 9vw);
    background-color: #fff;
    border-radius: 10px;
    padding: 0 8px 0 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 6vw;

    .greet-text {
      font-size: calc(5px + 1.4vw);
      padding-bottom: 5px;
    }
    .name {
      font-size: calc(7px + 1.9vw);
    }
  }

  .banner-upper-left-bottom {
    margin-top: 1vw;
    width: calc(54px + 15vw);
    font-size: calc(5px + 1.4vw);
    padding: calc(3px + 0.8vw);

    .school {
      padding: 0.8vw 0;
    }
  }
}

.banner-upper {
  img {
    width: calc(18px + 5vw);
  }
}

.banner-upper-center {
  width: 33vw;
}

// Banner Upper Right

.banner-upper-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3vw;
  width: 33vw;
  margin-left: 3vw;

  .banner-upper-right-top {
    width: calc(60px + 16.5vw);
    height: calc(52px + 14.4vw);
    background-color: #fff;
    border-radius: 10px;
    font-size: calc(5px + 1.4vw);
    padding: 2.5vw 3.3vw;
    padding: calc(4.5px + 1.25vw) calc(6px + 1.66vw);

    .lang-show {
      padding: calc(2px + 0.5vw) 0;
      display: flex;
      justify-content: space-between;

      img {
        width: auto;
        height: calc(6px + 1.66vw);
      }
    }
  }

  .banner-upper-middle {
    height: 29vw;
  }

  .banner-upper-right-bottom {
    margin-bottom: 7vw;
  }

  .btn-banner {
    height: calc(15px + 4.16vw);
    width: calc(43px + 11.94vw);
    font-size: calc(5px + 1.5vw);
  }
}
// //////////////////////////////////////////////////////////

@media (min-width: 933px) {
  .banner-upper {
    bottom: 625px;

    .banner-upper-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-left: 10px;
      margin-right: 28px;
      width: 280px;
    }

    .banner-upper-left-middle {
      height: 224px;
    }

    .banner-upper-left-top {
      width: 194px;
      height: 117px;
      background-color: #fff;
      border-radius: 10px;
      padding: 0 8px 0 6px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 56px;

      .greet-text {
        font-size: 1.125rem;
        padding-bottom: 5px;
      }
      .name {
        font-size: 1.565rem;
      }
    }

    .banner-upper-left-bottom {
      margin-top: 10px;
      width: 194px;
      font-size: 1.125rem;
      padding: 10.5px;

      .school {
        padding: 7.5px 0;
      }
    }
  }

  .banner-upper {
    img {
      width: 64.7px;
    }
  }

  .banner-upper-center {
    width: 280px;
  }

  // Banner Upper Right

  .banner-upper-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3vw;
    width: 280px;
    margin-left: 28px;

    .banner-upper-right-top {
      width: 254px;
      height: 186.5px;
      background-color: #fff;
      border-radius: 10px;
      font-size: 1.125rem;
      padding: 16px 21.5px;

      .lang-show {
        padding: 7px;
        display: flex;
        justify-content: space-between;

        img {
          width: auto;
          height: 24px;
        }
      }
    }

    .banner-upper-middle {
      height: 270.5px;
    }

    .banner-upper-right-bottom {
      margin-bottom: 65px;
    }

    .btn-banner {
      height: 54px;
      width: 154.5px;
      font-size: 1.19rem;
    }
  }
}

// Portfolio

.section-title {
  font-size: 20px;
  text-align: center;
  padding: 30px 0;
}

.portfolio {
  background-color: config.$secondary-color;
  padding-bottom: 1px;

  .pf-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 0 30px 0;

    .pf-content-title {
      font-size: 1.5rem;
    }

    .pf-content-list {
      font-size: 1.125rem;
      padding: 1rem 0;
    }

    .pf-content-desc {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    img {
      width: 90%;
      border-radius: 10px;
    }

    .btn-portfolio {
      align-self: flex-end;
      width: 120px;
      height: 40px;
      font-size: 0.9rem;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}

@media (min-width: 768px) {
  .section-title {
    font-size: 36px;
    text-align: center;
    padding: 50px 0;
  }

  .portfolio {
    .pf-content {
      flex-direction: row;
      gap: 8vw;
      margin: 0 40px 50px 40px;

      .pf-content-desc {
        width: 40vw;
      }

      img {
        width: 40vw;
        height: auto;
        margin-top: auto;
      }

      .btn-portfolio {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}

// ////////////////////////////////////////////////////////////////

@media (min-width: 933px) {
  .portfolio {
    .pf-content {
      gap: 80px;
      margin: 0 0 50px 0;

      .pf-content-desc {
        width: 400px;
      }

      img {
        width: 400px;
      }

      .btn-portfolio {
        margin-top: 20px;
      }
    }
  }
}

// Curriculum

.curr-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 98vw;
  grid-template-rows: auto;

  padding-bottom: 40px;

  .grid-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .grid-hobbies {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;

    .grid-text {
      padding: 0.5rem 0;
    }
  }

  .grid-info-text {
    display: block;

    justify-content: space-around;
  }

  .grid-info-text-left,
  .grid-info-text-right {
    width: 100%;
  }

  .grid-education {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .grid-experience {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .grid-title {
    font-size: 0.75rem;
    margin: 1rem 0 0.7rem 0;
    color: #a5a5a5;
  }

  .grid-title-edu {
    margin-bottom: 1.5rem;
  }

  .grid-text {
    font-size: 1.1rem;
  }

  .grid-text-hob {
    margin: 2.5px 0;
  }

  .grid-date {
    margin: 0.8rem 0 1.8rem 0;
    font-size: 0.75rem;
    color: #a5a5a5;
  }

  .grid-info-btn {
    align-self: flex-end;
  }

  .btn-curriculum {
    width: 120px;
    height: 35px;
    font-size: 0.925rem;
    margin-bottom: 10px;
    position: relative;
    bottom: 15px;
  }
}

.grid-info,
.grid-hobbies,
.grid-education,
.grid-experience {
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
}

@media (min-width: 620px) {
  .curr-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 92vw;
    grid-template-rows: auto;

    padding-bottom: 40px;

    .grid-info {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 2.5rem;
    }

    .grid-hobbies {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 2.5rem;

      .grid-text {
        padding: 0.5rem 0;
      }
    }

    .grid-info-text {
      display: flex;
      justify-content: space-around;
    }

    .grid-info-text-left,
    .grid-info-text-right {
      width: 50%;
    }

    .grid-education {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 2.5rem;
    }

    .grid-experience {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      display: flex;
      flex-direction: column;
      padding: 1rem 2.5rem;
    }

    .grid-title {
      font-size: 0.75rem;
      margin: 1rem 0 0.7rem 0;
      color: #a5a5a5;
    }

    .grid-title-edu {
      margin-bottom: 1.5rem;
    }

    .grid-text {
      font-size: 1.1rem;
    }

    .grid-text-hob {
      margin: 2.5px 0;
    }

    .grid-date {
      margin: 0.8rem 0 1.8rem 0;
      font-size: 0.75rem;
      color: #a5a5a5;
    }

    .grid-info-btn {
      align-self: flex-end;
    }

    .btn-curriculum {
      width: 120px;
      height: 35px;
      font-size: 0.925rem;
      margin-bottom: 10px;
      position: relative;
      bottom: 15px;
    }
  }

  .grid-info,
  .grid-hobbies,
  .grid-education,
  .grid-experience {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .curr-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 33.3vw 63.3vw;
    grid-template-rows: 40.1vw 21.4vw 32.7vw;

    padding-bottom: 40px;

    .grid-info {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.71vw 4.29vw;
    }

    .grid-hobbies {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.71vw 4.29vw;

      .grid-text {
        padding: 0.85vw 0;
      }
    }

    .grid-education {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.71vw 4.29vw;
    }

    .grid-experience {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4;
      display: flex;
      flex-direction: column;
      padding: 1.71vw 4.29vw;
    }

    .grid-info-text {
      display: block;
      justify-content: space-around;
    }

    .grid-info-text-left,
    .grid-info-text-right {
      width: 100%;
    }

    .grid-title {
      font-size: 1.28vw;
      margin: 1.71vw 0 1.2vw 0;
      color: #a5a5a5;
    }

    .grid-title-edu {
      margin-bottom: 2.57vw;
    }

    .grid-text {
      font-size: 1.88vw;
    }

    .grid-text-hob {
      margin: 0.26vw 0;
    }

    .grid-date {
      margin: 1.37vw 0 3.09vw 0;
      font-size: 1.28vw;
      color: #a5a5a5;
    }

    .grid-info-btn {
      align-self: flex-end;
    }

    .btn-curriculum {
      width: 120px;
      height: 35px;
      font-size: 1.45vw;
      margin-bottom: 1.07vw;
      bottom: 0px;
    }
  }

  .grid-info,
  .grid-hobbies,
  .grid-education,
  .grid-experience {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
  }
}

@media (min-width: 933px) {
  .curr-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 310px 590px;
    grid-template-rows: 370px 195px 300px;
    padding-bottom: 40px;

    .grid-info {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 2.5rem;
    }

    .grid-hobbies {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 2.5rem;

      .grid-text {
        padding: 0.5rem 0;
      }
    }

    .grid-education {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 2.5rem;
    }

    .grid-experience {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4;
      display: flex;
      flex-direction: column;
      padding: 1rem 2.5rem;
    }

    .grid-title {
      font-size: 0.75rem;
      margin: 1rem 0 0.7rem 0;
      color: #a5a5a5;
    }

    .grid-title-edu {
      margin-bottom: 1.5rem;
    }

    .grid-text {
      font-size: 1.1rem;
    }

    .grid-text-hob {
      margin: 2.5px 0;
    }

    .grid-date {
      margin: 0.8rem 0 1.8rem 0;
      font-size: 0.75rem;
      color: #a5a5a5;
    }

    .grid-info-btn {
      align-self: flex-end;
    }

    .btn-curriculum {
      width: 120px;
      height: 35px;
      font-size: 0.925rem;
      margin-bottom: 10px;
    }
  }

  .grid-info,
  .grid-hobbies,
  .grid-education,
  .grid-experience {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
  }
}
