@use "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: config.$primary-color;
  font-family: "B612", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

// header

.header {
  background-color: config.$primary-color;

  // font-size: 1.125rem;
  font-size: 10px;

  .header-content {
    height: 60px;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 30px;
  }
  ul {
    display: inline-block;
    li {
      display: inline-block;
      padding-left: 1.5rem;
    }
  }
}

// main banner lower

.banner {
  height: 67vw;
  max-height: 616px;
  background-color: config.$primary-color;

  .banner-lower {
    height: 67vw;
    max-height: 616px;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;

    img {
      max-width: 920px;
      width: 99vw;

      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  }

  .ball-1 {
    display: block;
    width: 5vw;
    height: 5vw;
    max-width: 47px;
    max-height: 47px;
    border-radius: 50%;
    position: relative;
    left: 5vw;
    bottom: 45vw;
    background-color: config.$secondary-color;
    background-image: linear-gradient(
      -135deg,
      config.$primary-color 0%,
      transparent 100%
    );
  }

  .ball-2 {
    display: block;
    position: relative;
    bottom: 3.5vw;
    width: 53vw;
    max-width: 495px;
    height: 53vw;
    max-height: 495px;
    border-radius: 50%;
    margin-right: 2vw;

    background-color: config.$secondary-color;
    background-image: linear-gradient(
      -135deg,
      config.$primary-color 0%,
      transparent 100%
    );
  }

  .ball-3 {
    display: block;
    width: 3vw;
    height: 3vw;
    max-width: 27px;
    max-height: 27px;
    border-radius: 50%;
    position: relative;
    right: 8vw;
    bottom: 14vw;
    background-color: config.$secondary-color;
    background-image: linear-gradient(
      -135deg,
      config.$primary-color 0%,
      transparent 100%
    );
  }
}

@media (min-width: 933px) {
  .banner {
    .ball-1 {
      bottom: 420px;
    }
    .ball-2 {
      bottom: 31px;
    }

    .ball-3 {
      bottom: 130px;
    }
  }
}

// Main banner upper

.banner-upper {
  height: 67vw;
  max-height: 616px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 67vw;

  .banner-upper-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 5px 15px;
  }

  .banner-upper-left-top {
    width: 30vw;
    height: 65px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 8px 0 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .greet-text {
      font-size: 10px;
      padding-bottom: 5px;
    }
    .name {
      font-size: 14px;
    }
  }

  .banner-upper-left-bottom {
    width: 30vw;
    font-size: 10px;
    padding: 6px;

    .school {
      padding: 2px 0;
    }
  }
}

.banner-upper {
  img {
    width: 36px;
  }
}

// Banner Upper Right

.banner-upper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 23px 0;

  .banner-upper-right-top {
    width: 33vw;
    background-color: #fff;
    border-radius: 10px;
    font-size: 10px;
    padding: 9px 12px;

    .lang-show {
      padding: 4px 0;
      display: flex;
      justify-content: space-between;

      img {
        width: auto;
        height: 12px;
      }
    }
  }

  .btn-banner {
    height: 30px;
    width: 86px;
  }
}

// Portfolio

.portfolio {
  background-color: config.$secondary-color;
  height: 200px;
}
